body {
    background-color: #eee;
}

.form-horizontal{
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
     border-radius: 0.3em;
}

 h2 {
    margin-left: 5em;
    margin-bottom: 1em;
    
}
.register{
     margin-left: 13em;
    margin-bottom: 2em;
}

div{
   margin-bottom:7px;
}

